
  <% @title="Editar Usuario - TANG" %> 
  <!-- Breadcrumbs Start -->
  <div class="row breadcrumbs m-b20">
      <ul class="breadcrumbs ">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Editar Usuario</a></li>
        
      </ul>
  </div>
  <!-- Breadcrumbs End -->
	<div class="row" style="width: 50%;margin: 0 auto;">
		
			<div class="boxed">
                <!-- Title Bart Start -->
                <div align="center"class="title-bar white" >
                  <h4>Editar Usuario</h4>
                 
                </div>
                <!-- Title Bart End -->
                <div class="inner no-radius">
				

<%= render 'form' %>



				</div>
			</div>
	





	</div>