<div class="modal-danger">
      
         
              <div class="modal-header">
             
            
                <h4 class="modal-title">Oops!</h4>
              </div>
              <div class="modal-body">
                <p>No tienes acceso a esta sección</p>
              </div>
              
      
    
          <!-- /.modal-dialog -->
        </div>